public/static/js/pages/
public/static/js/ckeditor/
public/static/js/images/
public/static/out/
public/static/js/
public/static/SATReg/theme/images/
public/static/SATReg/theme/assets/
*.pyc
public/static/SATReg/theme/underscore/
public/static/SATReg/theme/tinyscrollbar/
public/static/SATReg/theme/sweetalert2/
public/static/SATReg/theme/sweetalert/
public/static/SATReg/theme/datalist_polyfill/
public/static/SATReg/theme/dragscroll/
public/static/SATReg/theme/floatthead/
public/static/SATReg/theme/moment/
public/static/SATReg/theme/line_navigator/
public/static/SATReg/theme/index3.html
public/static/SATReg/theme/index2.html
public/static/SATReg/theme/fixedheader/
public/static/SATReg/theme/jquery_indicate/
public/static/SATReg/theme/selectize/selectize.min.js
public/static/SATReg/theme/skeleton/index.html
public/static/SATReg/theme/selectize/selectize.default.css
public/static/SATReg/theme/skeleton/normalize.css
src/bin/hooks/chemiregconfig.py
